<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form id="form-articulo">
                <fieldset>
                    <legend>Datos del artículo</legend>
                    <div>
                        <label>Código: <input type="text" name="codigo"></label>
                    </div>
                    <div>
                        <label>Nombre: <input type="text" name="nombre"></label>
                    </div>
                    <div>
                        <button type="submit">Guardar</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div>
            <table id="table-articulos">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
        <script src="/jquery-1.11.3.min.js"></script>
        <script type="text/javascript">
            var idArticulo = 0;
            function llenarTablas(){
                $.ajax({
                   url: '/api/articulos',
                   type: 'GET'
               }).done(function(data){
                   var tbody = $('#table-articulos tbody');
                   tbody.empty();
                   $.each(data, function(i, articulo){
                      var tr = $('<tr>') ;
                      var td_codigo = $('<td>');
                      td_codigo.html(articulo.codigo);
                      var td_nombre = $('<td>');
                      var td_acciones =$('<td>');
                      var a_editar =$('<a href="#">Editar</a>');
                      a_editar.on('click', function(){
                          event.preventDefault();
                          var datos = $(this).serialize();
                          var url = (idArticulo === 0) ? '/api/articulos' : '/api/articulos/'+articulo.id;
                          var type = (idArticulo === 0) ? 'POST' : 'PUT';
                          $.ajax({
                              url: '/api/articulos/'+articulo.id,
                              type: 'GET'
                          }).done(function (data){
                              idArticulo = data.id; 
                              $('input[name="codigo"]').val(data.codigo);
                              $('input[name="nombre"]').val(data.nombre);
                          });
                      });
                      td_acciones.append(a_editar);
                      td_acciones.append('\t');
                      var a_eliminar = $('<a href="#">Eliminar</a>');
                      td_acciones.on('click',function (event){
                          event.preventDefault();
                          if(confirm("Esta seguro que desea borrar este articulo")){
                              $.ajax({
                                  url: 
                              })
                          }
                      });
                      td_nombre.html(articulo.nombre);
                      tr.append(td_codigo);
                      tr.append(td_nombre);
                      tr.append(td_acciones);
                      tbody.append(tr);
                   });
               }); 
            }
            $(document).ready(function(){
               llenarTablas();
            });
            
            $('#form-articulo').on('submit', function(event) {
                event.preventDefault();
                var datos = $(this).serialize();
                $.ajax({
                    url: '/api/articulos',
                    data: datos,
                    type: 'POST'
                }).done(function (){
                 alert('EL articulo fue Guardado correctamente.');
                 $('input[name="codigo"]').val("");
                 $('input[name="nombre"]').val("");
                 idArticulo = 0; 
                 llenarTablas();
                }).fail(function (){
                 alert('EL articulo no fue Guardado.');
                });
            });
        </script>
    </body>
</html>
