<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form id="form-articulo">
            <fieldset>
                    <legend>Datos del articulo:</legend>
                    <div>
                        <label>Codigo: <input type="text" name="codigo"></label>
                    </div>
                    <div>
                        <label>Nombre: <input type="text" name="nombre"></label>
                    </div>
                    <div>
                        <label>Valor: <input type="text" name="valor"></label>
                    </div>
                    <div>
                        <button type="submit">Guardar</button>
                    </div>
            </fieldset>
                </form>
                    </div>
                        <script src="/jquery-1.11.3.min"></script>
                        <script type="text/javascript">
                            $('#form-articulo').on('submit',function(event){
                                event.preventDefault();
                                var datos = $(this).serialize();
                                $.ajax({
                                    url: '/api/articulo',
                                    data: datos,
                                    type: 'POST'
                                });
                            });
                        </script>
        
    </body>
</html>
